{% extends '@LucieDesaint/admin/index.html.twig' %}

{% block body %}

    </table>
    <div style="width: 200px; border-radius: 45px;">
        <a href="{{ path('produit_new') }}"class="btn btn-primary btn-info" style="
                                       border-radius: 45px;">Nouveau produit
        </a>
    </div>
{% endblock %}
