{% extends '@LucieDesaint/admin/index.html.twig' %}

{% block body %}
    <div class="container">
        <h1 style="color: #33b5e5; font-weight:bolder ">Categorie creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-primary btn-info"/>
        {{ form_end(form) }}

        <ul style="background-color: rgba(113, 102, 102, 0);">
            <li>
                <a href="{{ path('categories_index') }}" class="btn btn-primary btn-info">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
