/*----- PAGE INDEX  ------
    1. General
       - Navigation
       - Bandeau2
       - footer
    2. Main
       - images
    3. Média queries
-------------------*/

/****************************************************************************************************
****************************************** 1. General  ******************************************
****************************************************************************************************/

/***************** 2. Navigation ****************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.english-coeur, .french-coeur{
    width: 50px;
    position: relative;
    /* margin-right: auto; */
    bottom: 230px;
    margin-right: 15px;
}

a{
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

.container-fluid{
    height: 65px;
    width: 100%;
    background-color: black;
}

.accueil{
    top: 22px;
    position:relative;
    font-size: 1.3em;
    left: 25px;
}

.lien-menu{
    top: 22px;
    position: relative;
    float: right;
    font-size: 1.3em;
    padding-right: 130px;
}

/***************** 2.1 Navigation mobile ****************/

.fa-home{
    color: black;
}

.logo-home{
    float: right;
    font-size: 45px;
    right: 10px;
    position: relative;
    top:7px;
}

section {
    height: 78px;
    position: fixed;
    left: -15em;
    top: 0;
    /*bottom: 0;*/
    background-color: #716666;
    border: 2px solid #ffffff;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    animation: change_color 10s 10;
    border-radius: 50px;

}

 ul {
    width: 14em;
    list-style-type: none;
    margin: 0;
    margin-right: 5em;
    background-color: #716666;
    border: 2px solid #ffffff;
}

section a:link, section a:visited {
    display: block;
    width: 100%;
    font-weight: bold;
    line-height: 3em;
    text-indent: 20px;
    text-decoration: none;
    color: #000000;
    outline: 0 none;
}

section a:hover, section a:focus {
    color: #fff;
    background-color: #002;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}

section:hover {
    left: 0;
}

/******************** 3. Bandeau2 background-color:#3b3939;****************/

.bandeau2 {
    height: 175px;
    width: 100%;
    background-image: url("../images/bandeau2.png");
    bottom: 20px;
}

.logo-lucie{
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}

#lucie {
    text-align: center;
    top: 30px;
    position:relative;
    color:#FFFFFF;
}

#plasticienne{
    text-align: center;
    top: 30px;
    position:relative;
    color:#FFFFFF;
}

/***************** 5. footer *******************/

.fa-facebook-square, .fa-pinterest-square, .fa-linkedin-square{
    color: #FFFFFF;
    font-size: 3em;
    margin-top: 5%;
    padding-left: 12px;
}

.icon {
    text-align: center;
    margin-top: 19px;
}

footer{
    background-color: #464343;
    width: 100%;

}

.copyright {
    color: #ffffff;
    text-align: center;
}

.wild{
    font-weight: bolder;
    font-size: 1.1em;
}

/*newsletter*/

button{
    background-color:#ad9797;
    border:0;
    padding:10px 0px;
    width:90px;
    color:white;
    cursor:pointer;
    position:relative;
    transition:0.4s all;
}

input{
    border:0;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
    padding:10px 20px;
    width:165px;
    transition: 0.3s width cubic-bezier(0.40, 0, 0.50, 1.30);
    border-radius: 10px;
}

input + button {
    margin-left: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
    border-radius: 45px;
}

button:after{
    content:'';
    width: 100%;
    height: 0;
    position:absolute;
    top:50%;
    left:0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition:0.2s all;
}

button:hover:after{
    line-height:36px;
    top:0;
    height: 100%;
    opacity: 1;
}

button.iconize:hover:after{
    opacity: 0;
}

label{
    border:0;
    padding:10px 13px 7px;
    vertical-align:middle;
    margin-right:-5px;
    background:white;
    height: 33px;
    margin-bottom: 15px;
}

input:focus{
    width:250px;
}

.green{
    color:#B3CC57 !important;
}

.newsletter-globale{
    text-align: Center;
}

.x1p4{
    zoom:1.4;
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-loading-a { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }


.spin{
    animation: spin 1s infinite linear;
}

.iconize{
    width:40px;
}

h1{
    width:100%;
    text-align:center;
    color:white;
}

#envoyer{
    color: black;
}

.abonner{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
}
/* fin newsletter*/

/****************************************************************************************************
****************************************** fin General  ******************************************
****************************************************************************************************/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/

/* images */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1305 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /* min-width: 230px; */
    max-width: 515px;
    max-height: 320px;
    width: 100%;
    color: #000000;
}
.snip1305 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.snip1305 img {
    opacity: 1;
    width: 100%;
}
.snip1305:after,
.snip1305:before {
    background: #464343;;
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}
.snip1305:after {
    top: 0;
    left: 0;
}
.snip1305:before {
    right: 0;
    bottom: 0;
}
.snip1305 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.snip1305 h2,
.snip1305 p {
    margin: 0;
    width: 100%;
    opacity: 0;
}
.snip1305 h2 {
    padding: 0 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.snip1305 p {
    padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
}
.snip1305 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}
.snip1305:hover img,
.snip1305.hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.snip1305:hover:after,
.snip1305.hover:after,
.snip1305:hover:before,
.snip1305.hover:before {
    width: 100%;
    height: 100%;
}
.snip1305:hover figcaption h2,
.snip1305.hover figcaption h2,
.snip1305:hover figcaption p,
.snip1305.hover figcaption p {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.snip1305:hover figcaption h2,
.snip1305.hover figcaption h2 {
    opacity: 1;
}
.snip1305:hover figcaption p,
.snip1305.hover figcaption p {
    opacity: 0.7;
}

.images_index{
    text-align: center;
    padding-top:50px;
}

/*.cadre-photo9{*/
    /*width: 425px;*/
    /*height: 300px;*/
    /*background-color: red;*/
    /*border-top: 2px solid red;*/
    /*border-bottom: 2px solid red;*/
    /*border-left: 2px solid red;*/
    /*border-right: 2px solid red;*/
/*}*/

/*}*/
/*.cadre-photo1 {*/
    /*width: 425px;*/
    /*height: 300px;*/
    /*background-color: red;*/
    /*border-top: 2px solid #beacac;*/
    /*border-bottom: 2px solid #beacac;*/
    /*border-left: 2px solid #beacac;*/
    /*border-right: 2px solid #beacac;*/
/*}*/

/*.cadre-photo2 {*/
    /*width: 425px;*/
    /*height: 300px;*/
    /*background-color: red;*/
    /*border-top: 2px solid #beacac;*/
    /*border-bottom: 2px solid #beacac;*/
    /*border-left: 2px solid #beacac;*/
    /*border-right: 2px solid #beacac;*/
/*}*/

/*.cadre-photo3 {*/
    /*width: 220px;*/
    /*height: 300px;*/
    /*background-color: red;*/
    /*border-top: 2px solid #beacac;*/
    /*border-bottom: 2px solid #beacac;*/
    /*border-left: 2px solid #beacac;*/
    /*border-right: 2px solid #beacac;*/
/*}*/

/* Defillement texte en haut*/
.marquee {
    width: 490px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 35s linear infinite;
    color:black;
    top: 55px;
    font-weight: bolder;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}

/*.hello{*/
    /*height: 25px;*/
    /*background-color: red;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*bottom: 45px;*/
    /*right: 78px;*/
/*}*/

/*.hello:hover{*/
    /*height: 25px;*/
    /*background-color: red;*/
    /*opacity: 0.45;*/
/*}*/



/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/


@media screen and (max-width: 991px) {
    .icon {
        bottom: 10px;
        position: relative;
    }
    footer {
        height: 210px!important;
    }
}

@media screen and (max-width: 986px) {

    .marquee {
        top:45px;
    }
}

@media screen and (max-width: 1091px) {
    /* images */
    .images_index{
        text-align: center;
        padding-top:50px ;
    }
}

@media screen and (max-width: 990px) {
    .images_index{
        text-align: center;
        padding-top:50px ;
    }

    footer{
        height: 165px;
    }

    .row{
        bottom: 35px;
        position: relative;
    }

    .marquee {
        top: 10px!important;
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (max-width: 914px) {
    .icon{
        top: 5px;
    }
}

@media screen and (max-width:767px) {

    .text-lucie{
        width: 220px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
    }

    .bandeau2{
        height: 270px;
    }

    .language-logo{
        position: relative;
        bottom: 95px;
    }
}

@media screen and (max-width: 572px) {
    .row{
        bottom: 15px;
    }

    .logo-lucie {
        width: 350px;
        padding-top: 45px;
    }

    .marquee {
        width: 400px;
    }
}

@media screen and (max-width: 438px) {

    .marquee {
        width: 350px;
    }
}

@media screen and (max-width: 434px) {

    .cadre-photo2 {
        width: 95%;
    }
}



/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/

/*----- PAGE contact  ------
    1. General
       - Navigation
       - Bandeau2
       - footer
    2. Main
       - images
    3. Média queries
-------------------*/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/

.cadre5{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    bottom: 10px;
    position: relative;
}

#box {
     /*border: 1px solid rgb(200, 200, 200); */
     /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px; */
     /*background: rgba(200, 200, 200, 0.1); */
     /*border-radius: 4px; */
     /*top: 50px; */
    position: absolute;
    bottom: 22%;
}

h2{
    text-align:center;
    color:#fff;
}

.input-group{
    color: red;
}

.btn-danger {
    background: #535050;
    border: 2px solid;
    width: 150px;
}

.danger:hover {
    background-color: #2da8a8!important;
}

.form-control{
    color: #ffffff;
}

.cadre-gris{
    width: 100%;
    height:405px;
    background-color: #464343;
}


/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/


@media screen and (max-width: 991px){
    #box{
        margin-bottom: 80px;
    }

    .globale-cadre5{
        margin-bottom: 95px!important;
    }
}

@media screen and (max-width: 767px){
    #box{
        position: absolute;
        bottom: 130px;

    }
}


/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/


/*----- PAGE Art  ------
    1. Main
    2. Média queries
-------------------*/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/


.globale-produit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.art-titre{
    color: black;
}


.rectangle {
    width: 400px;
    background-color: black;
    position: relative;
    bottom: 46px;
    height: 60px;
}

.bienvenue{
    color: white;
    text-align: center;
    bottom: 2px;
    position: relative;
    font-weight: bold;
}

.art{
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 15px;
}

.item{
    align-self: center;
}

.cadre_prix{
    right: 205px;
    position: relative;
    right: 205px;
    position: relative;
    font-weight: bold;
    /*opacity: 0;*/
}

.cadre_prix:hover{
    right: 205px;
    position: relative;
    right: 205px;
    position: relative;
    font-weight: bold;
    opacity: 45;
}

.prix-effet{
    height: 445px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 45;
}

figure {
    display: inline;
}


/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/

@media screen and (max-width: 415px) {

    .rectangle{
        width: 300px!important;
        background-color: black!important;
        height: 75px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/


/*----- PAGE bijoux  ------
    1. Main
    2. Média queries
-------------------*/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/

.globale-bijoux{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.rectangle{
    width: 400px;
    background-color: black;
    position: relative;
    bottom: 67px;
    height: 60px;
    text-align: center;
}

.bienvenue{
    color: white;
    text-align: center;
    top: 17px;
    position: relative;
    font-weight: bold;
}

/*-------------- effet hover 1---------------*/

.titre-produit{
    color: black;
}

.produit{
    top: 55px;
    position: relative;
    font-size: 1.5em;
    color: black;
}

.prix{
    top: 60px;
    position: relative;
    font-size: 1.5em;
    color: black;
}

figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 300px;
    max-width: 310px;
    height: 100%;
    width: 100%;
    text-align: center;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.53);
}

figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
}
figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.snip0015 h2 span {
    font-weight: 800;
}
figure.snip0015 p {
    font-weight: 200  ;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}
figure.snip0015:hover img {
    opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}



/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/

@media screen and (max-width: 415px) {

}

/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/


/*----- PAGE Artiste  ------
    1. Main
    2. Média queries
-------------------*/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/

.circle {
    width: 190px;
    background-color: black;
    border: 5px solid #ffffff;
    height: 190px;
    position: relative;
    border-radius: 100px;
    top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.53);
}

.artiste-text{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.triangle{
    width: 10px;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 60px;
    border-color: #ffffff transparent transparent transparent;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.snip1085 {
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 910px;
    overflow: hidden;
    text-align: center;
    background: #767171;
    -webkit-perspective: 50em;
    perspective: 50em;
    bottom:9px;
}
figure.snip1085 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
figure.snip1085 img {
    max-width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
figure.snip1085 figcaption,
figure.snip1085 .reverse {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
figure.snip1085 figcaption {
    border: 2px solid #ffffff;
    background: #464343;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    border-radius: 35px;
}
.lucie-profile {
    position: relative;
    top: 60px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 23px;
    width: 190px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lobster Two', cursive;
}

figure.snip1085 .reverse {
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.snip1085 .icons {
    top: 50%;
    width: 100%;
    position: absolute;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
figure.snip1085 .icons i {
    display: inline-block;
    font-size: 28px;
    border: solid 3px #000000;
    margin: 5px;
    color: #000000;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}
figure.snip1085 a {
    opacity: 0.55;
}
figure.snip1085 a:hover {
    opacity: 0.9;
}
figure.snip1085.blue {
    background: #091b27;
}
figure.snip1085.blue figcaption {
    background: #2980b9;
}
figure.snip1085.red {
    background: #2e0e0a;
}
figure.snip1085.red figcaption {
    background: #c0392b;
}
figure.snip1085.yellow {
    background: #4d2909;
}
figure.snip1085.yellow figcaption {
    background: #e67e22;
}
figure.snip1085.green {
    background: #061c10;
}
figure.snip1085.green figcaption {
    background: #27ae60;
}
figure.snip1085:hover img,
figure.snip1085.hover img {
    opacity: 1;
}
figure.snip1085:hover figcaption,
figure.snip1085.hover figcaption {
    opacity: 0.5;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
figure.snip1085:hover .reverse,
figure.snip1085.hover .reverse {
    opacity: 1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/
@media screen and (max-width: 1348px) {

    figure.snip1085 {
        margin-bottom: 35px;
    }

}

@media screen and (max-width: 967px) {

    .snip1085{
        width: 97% !important;
    }
}

@media screen and (max-width: 518px) {

    .snip1305{
        width: 95% !important;
        margin-right:auto!important;
        margin-left: auto!important;
        display: block!important;
    }
}

/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/

/*----- PAGE Admin  ------

-------------------*/

/****************************************************************************************************
************************ 2. Main ( Cette partie evolue sur chaque page) *******************
****************************************************************************************************/

.admin-index{
    width: 100%;
    margin: 0;
    margin-right: 5em;
    background-color: #13dcf1;
    border: 2px solid #ffffff;
    border-radius: 45px;
    font-size: 30px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 18px;
}

.navbar{
    background-color: #13dcf1;
    height: 85px;
}

/****************************************************************************************************
****************************************** fin Main  ******************************************
****************************************************************************************************/

/****************************************************************************************************
****************************************** Media queries page index  ********************************
****************************************************************************************************/

@media screen and (max-width: 415px) {

}

/****************************************************************************************************
****************************************** fin Media queries page index  ****************************
****************************************************************************************************/











