/*----- INDEX  ------

-------------------*/


/**************************************************
******************** 1. Navigation ****************
**************************************************/

.container-fluid{
    height: 65px;
    width: 100%;
    background-color: black;
}

.Accueil{
    top: 22px;
    position:relative;
    font-size: 1.3em;
}

.lien-menu{
    top: 22px;
    position: relative;
    float: right;
    font-size: 1.3em;
    padding-right: 44px;
}

a{
    color: #FFFFFF;
}

a:hover{
    color: #B3CC57;
}

/**************************************************
******************** 1. fin Navigation ************
**************************************************/

/**************************************************
******************** 1. Bandeau2 ******************
**************************************************/

.bandeau2 {
    height: 175px;
    width: 100%;
    background-color:#3b3939;
    position: relative;
    bottom: 20px;
}

#lucie {
    text-align: center;
    top: 30px;
    position:relative;
    color:#FFFFFF;
}

#plasticienne{
    text-align: center;
    top: 30px;
    position:relative;
    color:#FFFFFF;
}

/**************************************************
******************** fin du Bandeau2 **************
**************************************************/

/**************************************************
*********************** main **********************
**************************************************/

.cadre-photo1 {
    width: 425px;
    height: 300px;
    background-color: red;
}

/**************************************************
********************** fin du main ****************
**************************************************/

/**************************************************
********************** footer *********************
**************************************************/

footer{
    width: 100%;
    height: 150px;
    background-color: black;
    bottom: 0;
    position: absolute;
}

.abonner{
    text-align: center;
    color: #FFFFFF;
}

.condition{
    padding-left: 15px;
    color: #FFFFFF;
}

/*newsletter*/

button{
    background-color:#B3CC57;
    border:0;
    padding:10px 0px;
    width:90px;
    color:white;
    cursor:pointer;
    position:relative;
    transition:0.4s all;
}

input{
    border:0;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
    padding:10px 20px;
    width:165px;
    transition: 0.3s width cubic-bezier(0.40, 0, 0.50, 1.30);

}

input + button{
    margin-left:5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
}

button:after{
    content:'';
    width: 100%;
    height: 0;
    position:absolute;
    top:50%;
    left:0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition:0.2s all;
}

button:hover:after{
    line-height:36px;
    top:0;
    height: 100%;
    opacity: 1;
}

button.iconize:hover:after{
    opacity: 0;
}

label{
    border:0;
    padding:10px 13px 7px;
    vertical-align:middle;
    margin-right:-5px;
    background:white;
    height: 33px;
    margin-bottom: 15px;
}

input:focus{
    width:250px;
}

.green{
    color:#B3CC57 !important;
}

.newsletter-globale{
    width:100%;
    text-align:Center;
}

.x1p4{
    zoom:1.4;
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-loading-a { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }


.spin{
    animation: spin 1s infinite linear;
}

.iconize{
    width:40px;
}

h1{
    width:100%;
    text-align:center;
    color:white;
}

/* fin newsletter*/

/**************************************************
********************** fin footer *****************
**************************************************/









