{% extends 'base.html.twig' %}

{% block body %}

    <div class="rectangle"><h3 class="bienvenue">Bienvenue dans l'univers <span class="art">Art</span></h3>
    </div>

        <div class="images_art">
            <figure>
                <a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau.png') }}" class="hvr-grow"></a>
            <figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>
            <figure>
                <a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau2.png') }}" class=" hvr-grow"></a>
                <figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>
            </figure>
            <figure>
                <a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau3.png') }}" class=" hvr-grow"></a>
                <figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>
            </figure>
        </div>

{% endblock  %}