{% extends 'base.html.twig' %}

{% block body %}

    <figure class="snip1085 #464343">
        <figcaption>
            <div class="triangle"></div>
            <p class="circle">
                <img src="/bleau_S2_2016_lucie-dessaint/bleau_S2_2016_lucie-dessaint/web/bundles/luciedesaint/images/photo-lucie.png" class="photo-lucie">
            </p>
            <h3 class="lucie-profile">Lucie de Saint</h3>
        </figcaption>
        <div class="reverse">
            <div class="icons"><a href="#"></a></div>
{% for artistes in artistes %}
            <p class="artiste-text">{{ artistes.textepresentation }} </p> {{ asset('upload/artiste/') }}{#{{ artiste.textback }}#}
    {% endfor %}
        </div>
    </figure>

{% endblock  %}