{% extends 'base.html.twig' %}

{% block body %}
            <div id="conteneur3D">
                <div id="carte">
                    <!-- Back -->
                    <div class="back">
                        <img src="{{ asset('bundles/luciedesaint/images/background-artiste.png') }}" class="fond">
                        <p class="text-1"> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria
                            lingua institutores veteres indiderunt.
                            Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria
                            lingua institutores veteres indiderunt.</p>
                    </div>
                    <!-- Front -->
                    <div class="front">
                        <p class="text-presentation1 cadre-front">
                              <span>Professeur d'art à l'école EIB Paris,<br/> plasticienne et créatrice de la marque <br/> de bijoux KIFA ! <br/>
                                  <span class="Ensavoirplus">En savoir plus</span>
                              </span>
                              <h1 class="circle">
                                   <img src="{{ asset('bundles/luciedesaint/images/photo-lucie.png') }}" class="photo-lucie">
                                   <h1 class="lucie">Lucie de Saint</h1>
                              </h1>
                    </div>
                        <div class="contour"></div>
                        </p>
                    </div>
                </div>
            </div>
{% endblock  %}