{% extends 'base.html.twig' %}

{% block body %}

    <div class="rectangle">
        <h3 class="bienvenue">Bienvenue dans l'univers des bijoux</h3>
    </div>

    <div class="globale-bijoux">
        <figure class="snip0015">
            <img src="{{ asset('bundles/luciedesaint/images/bague2.png') }}" alt="sample38"/>
            <figcaption>
                <h2>Bague n°1</h2>
                <p class="produit">Jolie bague torsadée en or massif .</p>
                <p class="prix">100 €</p>
                <a href="#"></a>
            </figcaption>
        </figure>

        <figure class="snip0015">
            <img src="{{ asset('bundles/luciedesaint/images/bague2.png') }}" alt="sample38"/>
            <figcaption>
                <h2>Bague n°1</h2>
                <p class="produit">Jolie bague torsadée en or massif .</p>
                <p class="prix">100 €</p>
                <a href="#"></a>
            </figcaption>
        </figure>

        <figure class="snip0015">
            <img src="{{ asset('bundles/luciedesaint/images/bague2.png') }}" alt="sample38"/>
            <figcaption>
                <h2>Bague n°1</h2>
                <p class="produit">Jolie bague torsadée en or massif .</p>
                <p class="prix">100 €</p>
                <a href="#"></a>
            </figcaption>
        </figure>

        <figure class="snip0015">
            <img src="{{ asset('bundles/luciedesaint/images/bague2.png') }}" alt="sample38"/>
            <figcaption>
                <h2>Bague n°1</h2>
                <p class="produit">Jolie bague torsadée en or massif .</p>
                <p class="prix">100 €</p>
                <a href="#"></a>
            </figcaption>
        </figure>
    </div>

{% endblock  %}