<h3 class="amber-text">Contenue du message envoyé</h3>

Bonjour {{ name }} !
<p class="amber-text"> Votre message a été déposé sur le site Lucie De Saint <br>
    Le message est le suivant : <br>
    -------------------------------------------------------------- </p>
<p>De : <span>{{ name }}</span></p>
<p>Mail : <span>{{ mail }}</span></p>
<p>{{ text }}</p>
<br>
<p class="amber-text">----------------------------------------- </p>
<p class="amber-text"> Merci !</p>