{% extends 'base.html.twig' %}

{% block body %}

   <div class="main">
     <div class="images_index">
        <img src="{{ asset('bundles/luciedesaint/images/portrait-double.png') }}" class="cadre-photo2">
        <img src="{{ asset('bundles/luciedesaint/images/portrait-double2.png') }}" class="cadre-photo1">
         <img src="{{ asset('bundles/luciedesaint/images/photo-lucie.png') }}" class="cadre-photo3">
     </div>
   </div>

{% endblock  %}