<h3 class="amber-text">Un nouveau message est arrivé!</h3>

Bonjour Lucie !
<p class="amber-text"> Un message a été déposé sur le site Lucie De Saint <br>
    Le message est le suivant : <br>
    -------------------------------------------------------------- </p>
<p>De : <span>{{ name }}</span></p>
<p>Mail : <span>{{ mail }}</span></p>
<p>{{ text }}</p>
<br>
<p class="amber-text">----------------------------------------- </p>
<p class="amber-text"> Merci !</p>


{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ abso }}  #}
