{% extends '@LucieDesaint/admin/index.html.twig' %}

{% block body %}

    <div class="container">
        <h2 style="color: #33b5e5;
    font-weight: bolder;
    padding-bottom: 10px;">Actualité</h2>
        <ul style="background-color: rgba(113, 102, 102, 0.07);">
            <li class="btn btn-primary btn-info" >
                <a href="{{ path('actualites_new') }}">Create a new actualite</a>
            </li>
        </ul>

        <div class="container">
            <div class="titre">
                {% for actualite in actualites %}
                    <div class="row">
                        <h2 id="titre">Text</h2>
                        <div class="actualité-texte">{{ actualite.textFr }}</div>
                    </div>
                    <div class="row">
                        <div class="bouton-action text-center">
                            <a href="{{ path('actualites_show', { 'id': actualite.id }) }}" style="border-radius: 20px;" class="btn btn-primary btn-info" >Voir</a>
                            <a href="{{ path('actualites_edit', { 'id': actualite.id }) }}" style="border-radius: 20px;" class="btn btn-primary btn-info" >Modifier</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
