{% extends '@LucieDesaint/admin/index.html.twig' %}
{% block body %}

    <div class="container">
        <h1>Artiste creation</h1>

        <label for="luciedesaintbundle_artiste_textback">image (fichier JPG)</label>
        <input type="file" id="luciedesaintbundle_artiste_textback" name="luciedesaintbundle_artiste[textback]" style="width: 250px;">

        {{ form_start(form) }}
                {#{{ form_widget(form) }}#}
        <input type="submit" value="Create" class="btn btn-primary btn-info"/>

        {{ form_end(form) }}
        <ul style="background-color: rgba(113, 102, 102, 0);">
            <li>
                <a href="{{ path('artiste_index') }}" class="btn btn-primary btn-info">Back to the list</a>
            </li>
        </ul>

    </div>
{% endblock %}
